@font-face {
    font-family: "Abraham";
    font-weight: regular;
    src: url("../fonts/AbrahamTRIAL-Regular.otf") format("opentype");
}

.pointer {cursor: default;}

div {
    cursor:default;
} 

.hover {
  pointer-events: none;
  transform: translate(-170px, -15px);
  position: absolute;
}

.meimg {
  max-width: 400px;
  max-height: 400px;
  display: none;
}

.melink:hover+.meimg {
  display: block;
}

.beatles:hover+.meimg {
  display: block;
}

html, body {
	padding-top: 2em;
	text-align: right;
	width: 95%;
	margin: 0 auto;
	background-color: #EEEEEE;

}

u {
  text-decoration: underline;
  color: green;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 50%;
  padding: 25px;
  font-size: 20px;
  font-family: 'Abraham';
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

::selection {
  background: #00E022; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00E022; /* Gecko Browsers */
}