@font-face {
    font-family: "Rutz";
    font-weight: medium;
    src: url("../fonts/Rutz_OEMedPro.otf") format("opentype");
}

html, body {
	padding-top: 2em;
	text-align: right;
	width: 90%;
	margin: 0 auto;
	background-color: #F2F2F2

}


h1{
	font-size: 36px;
	color: black;
	font-family: 'rutz';
}